/*Outline for Results Page for Calendar*/

h1 {
    font-size: 30px;
    text-align: center;
    color: #111111;
}


html {
    font-size: 10px;
    font-family: placeholder: this should be the rest of the output you got from Google fonts;
    background-color: #EB9D10;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}

img {
    width: 600px;
    display: block;
    margin: 0 auto;
}

table {
    text-align: center;
    font-size: 13px;
}

#btn_top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btn_home {
  display: none;
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: blanchedalmond;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}