/*Outline for Results Page for Calendar*/

h1 {
    font-size: 30px;
    text-align: center;
    color: #111111;
}


html {
    font-size: 10px;
    font-family: placeholder: this should be the rest of the output you got from Google fonts;
    background-color: #EB9D10;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}

img {
    width: 600px;
    display: block;
    margin: 0 auto;
}

table {
    text-align: center;
    font-size: 13px;
}
